postgresql/
etc/odoo-server.log
etc/addons/
etc/sessions/
etc/filestore/

addons/transport_tms/__pycache__
addons/transport_tms/models/__pycache__
addons/transport_tms/widgets/__pycache__
addons/transport_tms/controllers/__pycache__
addons/transport_tms/migrations/__pycache__

addons/ds_accounts/__pycache__
addons/ds_accounts/models/__pycache__
addons/ds_accounts/controllers/__pycache__
addons/ds_accounts/migrations/__pycache__
addons/ds_accounts/widgets/__pycache__
